<head>
    <style>
        body {
            font-family: monospace
        }

        table, th, td {
            border: 1px solid black;
            vertical-align: top;
            padding: 15px;
        }

        .extracted_data {
            min-width: 30%;
        }
    </style>
</head>
<body>
<h1>{{ book.name }}</h1>
<table>
    {% for page in pages %}
        <tr>
            <td colspan="100%">
                Page {{ page.actual_page_number }} Actual: {{ page.actual_page_number }}
            </td>
        </tr>
        <tr>
            <td>Extracted Data</td>
            <td>Cleaned</td>
            <td>Raw</td>
        </tr>
        <tr>
            <td>
                <div class="extracted_data">
                    {% if page.units %}
                        {% for unit in page.units %}
                            {% include 'documents/raw_unit.html' %}
                        {% endfor %}
                    {% endif %}
                    {% if page.errata %}
                        <h4>Errata:</h4>
                        <ul>
                            {% for errata in page.errata %}
                                <li>
                                    <h3>{{ errata }}</h3>
                                    <p>{{ errata.text }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if page.special_rules %}
                        <h4>Special Rules:</h4>
                        <ul>
                            {% for rule in page.special_rules %}
                                <li>
                                    <p>
                                        <b>{{ rule.name }}</b><br/>
                                        {{ rule.text }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </td>
            <td>
                <pre>{{ page.cleaned_text|linebreaks }}</pre>
            </td>
            <td>
                <pre>{{ page.raw_text|linebreaks }}</pre>
            </td>


        </tr>
        <tr>
            <td colspan="100%">
                <hr/>
            </td>
        </tr>
    {% endfor %}
</table>
</body>